<!-- Arquivo: Chapter4/select-example.html -->
<html ng-app="notesApp">

<head>
  <title>Notes App</title>
  <script src="../node_modules/angularjs/angular.js"></script>
</head>

<body ng-controller="MainCtrl as ctrl">

  <div>
    <select ng-model="ctrl.selectedCountryId"
            ng-options="c.id as c.label for c in ctrl.countries">
    </select>
  </div>
  <br>
  <div>
    <select ng-model="ctrl.selectedCountry"
            ng-options="c.label for c in ctrl.countries">
    </select>
  </div>

  <script type="text/javascript">
    angular.module('notesApp', [])
      .controller('MainCtrl', [function () {

        this.countries = [
          { label: 'USA', id: 1 },
          { label: 'India', id: 2 },
          { label: 'Other', id: 3 }
        ];

        this.selectedCountryId = 2;
        this.selectedCountry = this.countries[1];

      }]);
  </script>

</body>
</html>
